/* reset css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root  */
body {
  font-family: Roboto, sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
}
.container {
  width: 90%;
  margin: 0 auto;
}

/* animation  */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}

/* start header  */
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.header__content nav {
  display: flex;
  align-items: center;
}
.header__content li {
  list-style: none;
  display: inline;
  padding: 55px 15px;
  border: 1px solid black;
}
.header__content li a{
  text-decoration: none;
  color: #070120;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  transition: all .5s;
}
.header__content a:hover {
  color: #f55f8d;
}
.header__content li:hover {
  animation: upToDown 0.3s;
}
.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: 1px solid transparent;
  transition: all .5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
}

/* tại sao dùng inline block thì thẻ mới di chuyển */
.header__content span {
  border: 1px solid black;
  display: inline-block;

}

/* .header__content i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle
} */

.header__content li:hover a {
  color: #f55f8d
}

.header__content li:hover span {
  animation: upToDown .3s forwards
}

/* .saCarousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%
} */